{% extends "layout.twig" %}

{% block content %}
<!-- Page Content Start -->
<section class="page page--home">
	
	<!-- Header -->
	<header class="template__header">
		<div class="template__company">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
			{{widget('companyname', 'companyname', {
				"business": "profile",
				"showTplWidget":"0"
			})|raw}}
		</div>
		<div class="template__navigation">
			{{widget('extendednavigation', 'extendednavigation', {"align":"right"})|raw}}
		</div>
	</header>
		
	<!-- Header Feature -->
	<div class="header-feature">
		{{widget('feature', 'featurehome', {
			"header": "Creating Sound", 
			"strapline": "Inspiring people to greatness in music.", 
			"buttonText": "Learn more",
			"defaultBgImg": asset('images/feature-image.jpg'), 
			'positionTopPercentage': '50',
			'showBtn': true
		})|raw}}
	</div>
	
	<!-- Zone Content Start -->
    <div id="main-scroll" class="template__content">
        <div class="container">
            {{zone('main')|raw}}
        </div>
    </div>
	<!-- Zone Content End -->
	
</section>
<!-- Page Content End -->
{% endblock %}

{% block bodyscripts %}
<!-- Body Scripts Start -->
<script src="{{asset('js/header-feature.js')}}"></script>
<script src="{{asset('js/smooth-scroll.js')}}"></script>
<!-- Body Scripts End -->
{% endblock %}